.action_OV{
    background: transparent url(images/action_icn/ov.svg) no-repeat center center;
}
.action_AT{
    background: transparent url(images/action_icn/at.svg) no-repeat center center;
}
.action_CA{
    background: transparent url(images/action_icn/ca.svg) no-repeat center center;

}
.action_DE{
    background: transparent url(images/action_icn/de.svg) no-repeat center center;
}
.action_60{
    height: 60px;
    width: 60px;
    background-size: 50px;
}


.action_20{
    height: 20px;
    width: 20px;
    background-size: 18px;
}


.tundra._common_d11 .user_idle .cellPlayer .cellContent{
    background: url(/_gnr/11/css/icons/base14/yellowLight.gif) no-repeat right center;
}


.tundra._common_d11 .user_away .cellPlayer .cellContent{
    background: url(/_gnr/11/css/icons/base14/redLight.gif) no-repeat right center;

}

.tundra._common_d11 .cellPlayer .cellContent{
    background: url(/_gnr/11/css/icons/base14/greenLight.gif) no-repeat right center;

}


.tundra._common_d11 .user_disconnected .cellPlayer .cellContent{
    background: url(/_gnr/11/css/icons/base14/grayLight.gif) no-repeat right center;

}

/* @group AspectGrid */

.aspectGrid{
    margin:2px;
}

.aspectGrid .dojoxGrid-scrollbox{
    margin-left: 2px;
}

.aspectGrid th{
    display:none;
}
.aspectGrid .dojoxGrid-cell {
    border-left: 0px !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    background: transparent !important;
}

.tundra._common_d11 .aspectGrid .dojoxGrid-row-selected{
    background: transparent !important;
    background-image:none !important;
}
.tundra._common_d11 .aspectGrid .dojoxGrid-row{
    background-image:none !important;
    background: transparent !important;
}
.tundra._common_d11 .aspectGrid .dojoxGrid-cell{
    padding-top:0px !important;
}

.aspectGrid .cellContent{
    color: #1173BF;
    border-radius:3px;
    margin-top:0;
    margin-right:0px;
    padding-top:1px;
    padding-bottom: 1px;
    padding-left: 10px;
    line-height:13px;
    font-size: 10pt;
    color:#333;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#FFF58B), to(#FFF47E));
    background-image: -moz-linear-gradient(-90deg, #FFF58B, #FFF47E);
    cursor:pointer;
    margin:3px;
    box-shadow: 1px 1px 1px #B2B2B2;
}

.stressbox.stressbox{
    border: 1px ridge #444;
    height: 16px;
    width:40px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 1px;
    margin-left: 5px;
}

.stressbox.stressbox_marked{
    color: white;
    background-color: black;
}

.aspectGrid.grid_STUNT .cellContent{
    background: #79D43F;
}

.aspectGrid .dojoxGrid-row-selected .cellContent{

}

.tundra._common_d11 .aspectGrid  .dojoxGrid-content>div{
    border-bottom: 0px;
}


.aspect_description{
    font-style: italic;
}
/*
.aspect_HC{
    background-color: #C1E4F2;
}
.aspect_TR{
    background-color: #E18282;
}
*/
.txtLabel{
    font-size: 6.5pt;
    font-style: italic;
    color: #4C4B4B;
}
.skillCell{
    font-size: 8pt;
    border: 1px solid #4C4B4B;
    color: #4C4B4B;
    border-radius:2px;
    width: 90px;
    text-align: center;
    padding: 2px;
}
.mainTxt{
    font-size:8pt;
    text-align:left;
    padding:0;
}
.gamecell_tbl{
    background-image: url("$banner_url")
    color:white;
}
/* @end */
