.action_OV{
    background: transparent url(images/action_icn/ov.svg) no-repeat center center;
}
.action_AT{
    background: transparent url(images/action_icn/at.svg) no-repeat center center;
}
.action_CA{
    background: transparent url(images/action_icn/ca.svg) no-repeat center center;

}
.action_DE{
    background: transparent url(images/action_icn/de.svg) no-repeat center center;
}
.action_60{
    height: 60px;
    width: 60px;
    background-size: 50px;
}


.action_20{
    height: 20px;
    width: 20px;
    background-size: 18px;
}


.tundra._common_d11 .user_idle .cellPlayer .cellContent{
    background: url(/_gnr/11/css/icons/base14/yellowLight.gif) no-repeat right center;
}


.tundra._common_d11 .user_away .cellPlayer .cellContent{
    background: url(/_gnr/11/css/icons/base14/redLight.gif) no-repeat right center;

}

.tundra._common_d11 .cellPlayer .cellContent{
    background: url(/_gnr/11/css/icons/base14/greenLight.gif) no-repeat right center;

}


.tundra._common_d11 .user_disconnected .cellPlayer .cellContent{
    background: url(/_gnr/11/css/icons/base14/grayLight.gif) no-repeat right center;

}

.aspectGrid .dojoxGrid-scrollbox{
    margin-left: 5px;
}

.aspectGrid th{
    display:none;
}
.aspectGrid .dojoxGrid-cell {
    border-left: 0px !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    background: transparent !important;
}

.tundra._common_d11 .aspectGrid .dojoxGrid-row-selected{
    background: transparent !important;
    background-image:none !important;
}
.tundra._common_d11 .aspectGrid .dojoxGrid-row{
    background-image:none !important;
    background: transparent !important;
}
.tundra._common_d11 .aspectGrid .dojoxGrid-cell{
    padding-top:0px !important;
}

.aspectGrid .cellContent{
    border-radius:4px;
    margin-top:0;
    margin-right:0px;
    text-align:center;
    padding-top:2px;
    padding-bottom:1px;
    line-height:16px;
    font-size: 8pt;
    font-variant:small-caps;

    color:#333;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#EDEDEE), to(#CDCDCD));
    background-image: -moz-linear-gradient(-90deg, #EDEDEE, #CDCDCD);
    border: 1px solid #666;
    cursor:pointer;
    margin-top:2px;
}

.aspectGrid .dojoxGrid-row-selected .cellContent{
    background:#888;
    color: #fff;
    -moz-box-shadow: inset 1px 1px 2px #222;
    -webkit-box-shadow:inset 1px 1px 2px #222;
}
